nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    position: relative;
  }
  
  nav li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .listmenu:hover .dropdown {
    display: block;
  }
  
  .dropdown li {
    display: block;
  }
  
  .dropdown li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  